.ContactBackground {
    border: 3px solid #495057;
    min-height: 10rem;
    min-width: 5rem;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding: 2rem;
    border-radius: 50px;
    font-weight: bold;
    background-color: #D8C3A5;
    text-align: justify;

    div {
        margin-bottom: .5rem;
    }

    a {
        color: #E85A4F;
        display: inline;
    }

    a:hover {
        color: #EAE7DC;
    }
}

.contact-header-box {
    text-align: center;
    background-color: #EAE7DC;
    border-radius: 10px;
    font-size: large;
}

@media screen and (max-width: 60rem) {
    .contact-header-box {
        width: 100%;
    }
}